/* ---- GLOBAL ---- */
:root {
  --text: #a0a0a0;
  --text-h: #dddddd;
  --bg: #121212;
  --border: #282828;
  --code-bg: #1a1a1a;
  --accent: #8a2be2;
  --accent-bg: rgba(138, 43, 226, 0.15);
  --accent-border: rgba(138, 43, 226, 0.4);
  --shadow: rgba(0, 0, 0, 0.5) 0 10px 15px -3px;
  --font: 'Tahoma', Roboto, sans-serif;
}

/* ---- EACH ELEMENT ----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---- BODY ---- */
body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
}

/* ---- ROOT CONTAINER ---- */
#root {
  width: 100%;
  min-height: 100dvh;
}

/* ---- DEFAULT TTILES ---- */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-h);
  letter-spacing: 2px;
}