/* ===== VARIABLES DE COLOR ===== */
:root {
  --primary: #7c3aed; /* violeta principal */
  --primary-light: #a78bfa;
  --dark: #000000;
  --white: #ffffff;
  --gray: #e5e7eb;
}

html {
    scroll-behavior: smooth;

    /* Esto se debe cambiar dependiendo del nav donde este ubicado*/
    scroll-padding-top: 5rem; 
}